.post-entry {
    min-height: 145px;
    position: relative;
    margin-bottom: 6px;
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    line-height: 1.4;
    transition: transform .1s;
}

.post-entry .entry-cover {
    float: left;
    position: relative;
    margin-right: var(--gap);
    text-align: left;
    width: 180px;
}

.post-entry .post-tags {
    margin-top: 4px;
    margin-bottom: -10px;
    text-align: left;
}